<nav class="navbar">
  <div class="nav-container">
    <!-- Brand -->
    <a class="logo" routerLink="/">
      <span class="highlight">U</span>zair
    </a>

    <!-- Desktop Links -->
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
